button {
    background-color: #223555;
    color: #FFFFFF;
    padding: 1em;
    border-radius: 10px;
    margin: 10px;
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
}

input {
    background-color: #F0F2F5;
    border: none;
    padding: 1em;
    border-radius: 10px;
    margin: 10px;
    font-family: inherit;
    font-size: 20px;
    width: 600px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

