h1 {
    color: #223555;
    font-size: 32px;
}

button {
    font-size: 14px;
    font-weight: 400;
    padding: .5em 1em;
}

img {
    border-radius: 7px;
    position:absolute;
    bottom:30px;
    left:90px;
    width:300px;
}

.show-wrapper {
    position:relative;
}

.show {
    background-color: #F0F2F5;
    width: 50%;
    border: 1px solid green;
    margin: 50px auto;
    padding-left: 15%;
    padding-bottom: 20px;
    border-radius: 7px;
}

.summary {
    width: 70%;
}
